body{
    margin: 0;
}
main {
   text-align: center;
   margin: auto;
   background-color: white;
}
.clear{
    display: flex;
    clear: both;
}
footer{
    background-color: gray;
    padding: 10px ;
    background-color: gray;
    text-align: center;
}
.ban{
    background-color: lightblue;
    display: block;
    padding: 0 9.5%;
}
article , section{
    background-color: lightgrey;
    padding: 10px;
}
.droite{
    float: left;
    width: 60%;
    background-color: lightgray;
    padding: 10px;
}
h1{
    font-size:64px ;
    color: white;
    text-align: left;
    margin: auto;
    padding: 10px 0;
}
h2 {
    font-size: 36px;
    text-align: left;
    margin: auto;
    padding: 10px 0;
}
h3{
    font-size: 24px;
    margin: auto;
}
h4{
    font-size: 18px;
    text-align: left;
    margin: auto;
}
h5{
    font-size: 14px;
    margin: auto;
}
#lefty{
    text-align: left;
}
ul ,ol{
    font-size: 18px;
    list-style: none;
    text-align: justify;
    color: white;
}
ol{
    background-color: indianred;
    padding: 15px;
    margin: 20px
}
#topgun{
    display: inline-flex;
}
nav#accblanc :active,a:hover,a:visited{
    color: white;
    text-decoration:none ;
}
.main-nav {
    background-color: rgb(165, 76, 76);
    padding: 0.5% 9.5%;
    text-align: justify;
    font-size: 30px;
}
.main-nav li > a{
    padding: 10px 10px 10px 10px;
    display: inline-block;
}
.pika{
    width: 20%;
}
#pikapika > p {
    margin: auto;
}
#pikapika {
    width: 58%;
    margin: 0 2%;
    display: inline-table;
}
.pikaarte{
    width: 74%;
    display: flex;
}
div{
    display: flex;
}
aside{
    width: 30%;
    float: left;
}
aside > h3{
    margin-top: 10px;
}
.page{
    width: 83%;
    display: inline-block;
}
#bannere {
    width: 98%;
}
.gauche{
    float: right;
}
#Rpika{
    width: 179%;
    float: right;
    text-align: left;
    margin-left: -4%;
}
#flafla {
    display: flex;
    margin: 5px 5px;
    padding: 0;
}
#Rpika > p {
    margin:0 2px 0 2px;
}
.prezpika{
    display: flex;
}
.prezpika > h2{
    margin: 1px;
}
sub{
    font-size: initial;
}